---
import { getEntry } from 'astro:content';
import { CupName } from '../../scripts/fetchMetas';
import Pokemon from '../components/pokemon.astro';

export function getStaticPaths() {
  return Object.values(CupName).map((cup) => ({ params: { cup } }));
}

const { cup } = Astro.params;
const cupMeta = await getEntry('metas', cup);
const cupPokemon = await Promise.all(
  cupMeta.data.map(async (p) => {
    return await getEntry(p.pokemon);
  }),
);
---

<html data-theme="sunset">
  <body class="m-2 flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-row px-1">
        <Pokemon pokemon={cupPokemon[1]} />
        <Pokemon pokemon={cupPokemon[4]} />
        <Pokemon pokemon={cupPokemon[8]} />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    {cupPokemon.map((p) => <Pokemon pokemon={p} />)}
    <div class="container footer italic">
      <p>Questions? Contact @tuchandra on Github.</p>
    </div>
  </body>
</html>
