---
import { getEntry } from 'astro:content';
import Matchup from '../components/Matchup.astro';
import Navbar from './Navbar.astro';

const great = await getEntry('metas', 'great');
const greatPokemon = await Promise.all(
  great.data.map((p) => getEntry(p.pokemon)),
).then((pokemons) =>
  pokemons.sort((a, b) => a.data.speciesName.localeCompare(b.data.speciesName)),
);
---

<html data-theme="sunset">
  <meta charset="utf-8" />
  <body class="m-2 flex flex-col items-center">
    <Navbar />

    <!-- Content -->
    <div class="divider divider-primary italic">Pokemon (Great League)</div>
    <div class="container flex flex-row flex-wrap gap-4">
      {greatPokemon.map((p) => <Matchup opponent={p.data} maxCp={1500} />)}
    </div>
    <div class="container footer italic">
      <div class="divider divider-primary italic">
        Questions? Contact @tuchandra on Github
      </div>
    </div>
  </body>
</html>
