---
import Pokemon from '../components/pokemon.astro';
import { getCollection, getEntry } from 'astro:content';
import { simplifyMoves, withMoveset } from '../pokemonUtils';

const pokemon = await getCollection('pokemon');
const great = await getEntry('metas', 'great');
const greatPokemon = await Promise.all(
  great.data.map(async (p) => {
    const mon = await getEntry(p.pokemon);
    return {
      ...mon,
      data: {
        ...mon.data,
        // fastMoves: [await getEntry(p.fastMove)],
        // chargedMoves: [
        //   await getEntry(p.chargedMoves[0]),
        //   await getEntry(p.chargedMoves[1]),
        // ],
      },
    };
  }),
);

const lanturn = await getEntry('pokemon', '0171-lanturn').then((p) =>
  withMoveset(p, {
    fast: ['SPARK', 'WATER_GUN'],
    charged: ['SURF', 'THUNDERBOLT'],
  }),
);
const mandibuzz = await getEntry('pokemon', '0630-mandibuzz').then((p) =>
  withMoveset(p, {
    fast: ['SNARL', 'AIR_SLASH'],
    charged: ['AERIAL_ACE', 'DARK_PULSE', 'FOUL_PLAY'],
  }),
);
const annihilape = await getEntry('pokemon', '0979-annihilape').then((p) =>
  withMoveset(p, {
    fast: ['COUNTER'],
    charged: ['NIGHT_SLASH', 'SHADOW_BALL', 'ICE_PUNCH'],
  }),
);
---

<html data-theme="sunset">
  <body class="m-2 flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-row px-1">
        <Pokemon pokemon={lanturn} />
        <Pokemon pokemon={mandibuzz} />
        <Pokemon pokemon={annihilape} />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    {greatPokemon.map((p) => <Pokemon pokemon={p} />)}
    <div class="container footer italic">
      <p>Questions? Contact @tuchandra on Github.</p>
    </div>
  </body>
</html>
