---
console.log('This runs in your terminal, not the browser!');
import Pokemon from '../components/pokemon.astro';
---

<html data-theme="sunset">
  <body class="flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="pokeicons/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-col px-1">
        <Pokemon
          name="Venusaur"
          dexnum="3"
          fastMove="Vine Whip"
          fastMoveType="grass"
          fastMoveEnergy={8}
          fastMoveTurns={2}
        /><Pokemon
          name="Abomasnow"
          dexnum="460"
          fastMove="Powder Snow"
          fastMoveType="ice"
          fastMoveEnergy={8}
          fastMoveTurns={2}
        /><Pokemon
          name="Lanturn"
          dexnum="171"
          fastMove="Spark"
          fastMoveType="electric"
          fastMoveEnergy={7}
          fastMoveTurns={2}
        />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    <Pokemon
      name="Abomasnow"
      dexnum="460"
      fastMove="Powder Snow"
      fastMoveType="ice"
      fastMoveEnergy={8}
      fastMoveTurns={2}
    />
    <Pokemon
      name="Carbink"
      dexnum="703"
      fastMove="Rock Throw"
      fastMoveType="rock"
      fastMoveEnergy={5}
      fastMoveTurns={2}
    />
    <Pokemon
      name="Slurpuff"
      dexnum="685"
      fastMove="Fairy Wind"
      fastMoveType="fairy"
      fastMoveEnergy={9}
      fastMoveTurns={2}
    />
    <div class="container flex flex-col">
      <h1 class="px-4 py-2 text-2xl font-bold text-teal-600">Hello, beep!</h1>
      <p class="group-hover:text-gray px-4 text-blue-500">
        This is very confusing
      </p>
      <button class="btn btn-success m-4">Click me!</button>
    </div>
  </body>
</html>
