---
import Pokemon from '../components/pokemon.astro';
import { getCollection, getEntry } from 'astro:content';

const pokemon = await getCollection('pokemon');

const fantasy = await getEntry('metas', 'fantasy');
await Promise.all(
  fantasy.data.map(async (p) => {
    const pokemon = await getEntry('pokemon', p.id);
    console.log(pokemon);
  }),
);
console.log(fantasy);

const species = [
  'Abomasnow',
  'Carbink',
  'Slurpuff',
  'Lanturn',
  'Gholdengo',
  'Venusaur',
  'Weezing (Galarian)',
];
const greatleague = pokemon.filter((p) => species.includes(p.data.speciesName));
---

<html data-theme="sunset">
  <body class="flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-col px-1">
        <Pokemon pokemon={await getEntry('pokemon', '0184-azumarill')} />
        <Pokemon pokemon={await getEntry('pokemon', '0448-lucario')} />
        <Pokemon pokemon={await getEntry('pokemon', '0462-magnezone')} />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    <Pokemon pokemon={greatleague[3]} />
    <Pokemon pokemon={greatleague[4]} />
    <Pokemon pokemon={greatleague[5]} />
    <Pokemon pokemon={greatleague[6]} />
    <div class="container flex flex-col">
      <h1 class="px-4 py-2 text-2xl font-bold text-teal-600">Hello, beep!</h1>
      <p class="group-hover:text-gray px-4 text-blue-500">
        This is very confusing
      </p>
      <button class="btn btn-success m-4">Click me!</button>
    </div>
  </body>
</html>
