---
import Pokemon from '../components/pokemon.astro';
import { getCollection, getEntry } from 'astro:content';

const pokemon = await getCollection('pokemon');
const fantasy = await getEntry('metas', 'fantasy');
const fantasyPokemon = await Promise.all(
  fantasy.data.map(async (p) => {
    const mon = await getEntry(p.pokemon);
    return {
      ...mon,
      data: {
        ...mon.data,
        fastMoves: [await getEntry(p.fastMove)],
        chargedMoves: [
          await getEntry(p.chargedMoves[0]),
          await getEntry(p.chargedMoves[1]),
        ],
      },
    };
  }),
);
console.log(fantasyPokemon);
---

<html data-theme="sunset">
  <body class="m-2 flex flex-col items-center">
    <!-- Navbar -->
    <div class="w-full flex-grow">
      <div class="navbar">
        <a
          href="/"
          class="flex items-center gap-4 px-2 text-xl italic text-neutral-content"
        >
          <img
            src="pokemon/1011.png"
            alt="Dipplin"
            class="h-12 w-12 rounded-full bg-primary"
          />
          <span>GO Battle Learn</span>
        </a>
      </div>
    </div>
    <!-- My team -->
    <div class="divider divider-primary mt-0 italic">My team</div>
    <div class="container">
      <div class="flex flex-col px-1">
        <Pokemon pokemon={await getEntry('pokemon', '0184-azumarill')} />
        <Pokemon pokemon={await getEntry('pokemon', '0448-lucario')} />
        <Pokemon pokemon={await getEntry('pokemon', '0462-magnezone')} />
      </div>
    </div>

    <!-- Content -->
    <div class="divider divider-primary italic">Matchups</div>
    {fantasyPokemon.map((p) => <Pokemon pokemon={p} />)}
    <div class="container footer italic">
      <p>Questions? Contact @tuchandra on Github.</p>
    </div>
  </body>
</html>
