---
import { cupConfig } from '../cup-utils';
import { CupName } from '../models';
import { readdir } from 'node:fs/promises';

const metas = (await readdir('src/data/metas/')).map(
  (x) => x.replace('.json', '') as CupName // shh
);
---

<div class="w-full flex-grow">
  <div class="navbar flex-row">
    <a href="/" class="flex items-center gap-4 px-2">
      <img
        src="/pokemon/1011.png"
        alt="Dipplin"
        class="h-12 w-12 rounded-full bg-primary"
      />
    </a>

    <div class="flex-col items-start">
      <span class="text-xl italic text-neutral-content">GO Battle Learn</span>
      <div class="block flex-row italic text-neutral-300">
        <a href="/great" class="link-hover link">Great League</a>
        &centerdot;
        <a href="/summerultra" class="link-hover link">Summer Cup (Ultra)</a>
        &centerdot;
        <a href="/ultra" class="link-hover link">Ultra League</a>
        &centerdot;
        <a href="/master" class="link-hover link">Master League</a>
        &centerdot;
        <details class="dropdown z-10">
          <summary class="button btn-ghost">More ...</summary>
          <ul class="menu dropdown-content">
            {
              metas
                .filter(
                  (m) =>
                    !['great', 'ultra', 'master', 'summerultra'].includes(m)
                )
                .map((meta) => (
                  <a href={`/${meta}`} class="link-hover link">
                    <li class="-mx-2 w-48 rounded-none bg-base-100 px-4 py-4 shadow hover:bg-base-300">
                      {cupConfig(CupName[meta]).name}
                    </li>
                  </a>
                ))
            }
          </ul>
        </details>
      </div>
    </div>
  </div>
</div>
