---
import type { MoveCounts } from '../pokemonUtils';

interface Props {
  counts: MoveCounts[];
}
const { counts } = Astro.props;
---

<span class="text-xs text-neutral-500">
  <div>
    {counts.map((x) => x.nFastMoves).join(', ')}
  </div>
  <div>
    {counts.map((x) => x.nTurns).join(', ')}
  </div>
  <div>
    {'+' + counts.map((x) => x.remainingEnergy).join(', +')}
  </div>
</span>
