---
import type { MoveCounts } from '../pokemonUtils';

interface Props {
  counts: MoveCounts[];
}
let { counts } = Astro.props;
counts = counts.slice(0, 4);
---

<div class="table-cell w-40 pr-4 text-xs">
  {
    counts.length === 1 ? (
      <>
        <p class="text-neutral-400">{counts[0].nFastMoves} (∞)</p>
        {counts[0].nTurns !== counts[0].nFastMoves && <p>{counts[0].nTurns}</p>}
      </>
    ) : (
      <>
        <p class="text-neutral-400">
          {counts.map((x) => x.nFastMoves).join(' - ')}
        </p>
        {counts[0].nTurns !== counts[0].nFastMoves && (
          <p>{counts.map((x) => x.nTurns).join(' - ')}</p>
        )}
      </>
    )
  }
</div>
