---
import type { MoveCounts } from '../pokemonUtils';

interface Props {
  counts: MoveCounts[];
}
const { counts } = Astro.props;
---

<div class="table-cell text-xs text-neutral-500">
  <p>{counts.map((x) => x.nFastMoves).join(', ')}</p>
  <p>{counts.map((x) => x.nTurns).join(', ')}</p>
  <p>{'+' + counts.map((x) => x.remainingEnergy).join(', +')}</p>
</div>
