---
import type { MoveCounts } from '../pokemonUtils';

interface Props {
  counts: MoveCounts[];
}

const { counts } = Astro.props;
const someCounts = counts.slice(0, 4);
const cycleLength = counts.length;
const turnsPerMove = someCounts[0].nTurns / someCounts[0].nFastMoves;

const fullCycle = someCounts.length === cycleLength ? '⟳' : '…';
---

<div class="table-cell w-40 py-2 align-middle text-xs">
  <p class="text-neutral-400">
    {someCounts.map((x) => x.nFastMoves).join(' - ')}
    {fullCycle}
  </p>
  <p class="text-neutral-500">
    {someCounts.map((x) => x.nTurns).join(' - ')}
  </p>
</div>
