---
// Component for one Pokemon displayed on the homepage.

import { getEntries } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { applyMovesetOverrides, getMoveCounts } from '../pokemonUtils';
import MoveCounts from './moveCounts.astro';
import ChargedMove from './chargedMove.astro';
import FastMove from './fastMove.astro';
import PokemonNamecard from './pokemon-namecard.astro';

interface Props {
  pokemon: CollectionEntry<'pokemon'>;
}

const pokemon = applyMovesetOverrides(Astro.props.pokemon);
const data = pokemon.data;

const fastMoves = await getEntries(data.fastMoves);
const chargedMoves = await getEntries(data.chargedMoves);
---

<div class="container mb-1 items-center rounded-md bg-neutral p-2">
  <PokemonNamecard pokemon={pokemon} />
  <div
    class="table w-auto rounded-md border-2 border-dashed border-warning p-2 text-neutral-500"
  >
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell w-32 align-middle text-xs">
          <!-- <p>Moves / Turns / Energy</p> -->
        </div>
        {fastMoves.map((fastMove) => <FastMove move={fastMove.data} />)}
      </div>
    </div>
    {
      chargedMoves.map((chargedMove) => (
        <div class="table-row">
          <ChargedMove
            move={chargedMove.data}
            stab={data.types.includes(chargedMove.data.type)}
          />
          {fastMoves.map((fast) => (
            <MoveCounts counts={getMoveCounts(fast.data, chargedMove.data)} />
          ))}
        </div>
      ))
    }
  </div>
</div>
