---
// Component for one Pokemon displayed on the homepage.

import { getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { applyMovesetOverrides, getMoveCounts } from '../pokemon-utils';
import PokemonNamecard from './PokemonNamecard.astro';
import FastMove from './fastMove.astro';
import ChargedMove from './chargedMove.astro';
import MoveCounts from './MoveCounts.astro';

interface Props {
  pokemon: CollectionEntry<'pokemon'>;
}

const pokemon = applyMovesetOverrides(Astro.props.pokemon);

const fastMoves = await Promise.all(
  pokemon.data.fastMoves.map((m) =>
    getEntry('fastMoves', m).then((m) => m.data)
  )
);
const chargedMoves = await Promise.all(
  pokemon.data.chargedMoves.map((m) =>
    getEntry('chargedMoves', m).then((m) => m.data)
  )
).then((moves) => moves.sort((a, b) => a.energy - b.energy));
---

<div class="container mb-1 items-center rounded-md bg-neutral p-2">
  <PokemonNamecard pokemon={pokemon} />
  <div
    class="table w-auto border-spacing-x-2 border-spacing-y-1 rounded-md border-2 border-dashed border-warning p-2 text-neutral-500"
  >
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell w-36 align-middle text-xs">
          <!-- <p>Moves / Turns / Energy</p> -->
        </div>
        {fastMoves.map((fastMove) => <FastMove move={fastMove} />)}
      </div>
    </div>
    {
      chargedMoves.map((chargedMove) => (
        <div class="table-row">
          <ChargedMove
            move={chargedMove}
            stab={pokemon.data.types.includes(chargedMove.type)}
          />
          {fastMoves.map((fast) => (
            <MoveCounts counts={getMoveCounts(fast, chargedMove)} />
          ))}
        </div>
      ))
    }
  </div>
</div>
